body {
  font-family: Arial, sans-serif;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-top: 0;
}

/* .inner-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  display: flex;
  justify-content: center;
  background-color: green;
} */

ul {
  list-style-type: none;
  padding: 0;
}

.list-items {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: yellow;
  transition: background-color 0.3s ease;
}

ul li:hover {
  background-color: #e3e3e3;
}
